.hidden {
	display: none;
}
.color-picker__wrap {
	position: relative;
	height: 600px;
}
.border {
	padding: 30px;
	border: 2px solid #eee;
	border-radius: 10px;
}
.color-picker {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 220px;
	transform: translate(-50%,-50%);
}
.color-picker__nav {
	position: relative;
}
.current-color__wrap {
	position: relative;
	height: 60px;
}
.color-name {
	position: absolute;
	display: block;
	top: 50%;
	right: 30px;
	transform: translateY(-50%);
	font-size: 2rem;
	font-weight: 600;
}
.color-name > span {
	text-transform: uppercase;
}
.photo__col {
	min-height: 150px;
	margin: 15px 0;
}
.photo {
	margin: 0 auto;
	cursor: pointer;
}
.photos-modal__wrap {
	z-index: 100;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: hidden;
	background-color: rgba(0,0,0,.7);
}
.photos-modal__box {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 700px;
}
.photos-modal__title {
	margin: 10px 0;
	font-size: 1.5em;
	color: #fff;
}